<html>
<head>
 <title> Welcome to Madrona VM </title>
</head>
<body>
<h1>Welcome to the Madrona Virtual Machine</h1>
<div>
To get started please minimize the virtual machine window and
<ol>
<li> <h3> Set up your hosts file to point to the IP address of the virtual machine </h3>
<h4> Windows </h4>
<ul>
<li> Navigate to <code>C:\Windows\System32\drivers\etc\</code></li>
<li> Open the <code>hosts</code> file for editing (may require admin privledges)</li>
<li> Add the following line to the end of the file and save. <br/> <code>{{ip}}  {{domain}}</code> </li>
</ul>
</li>
<li>
<h3>Visit <code>{{appgen_url}}</code> in your host web browser </h3>
</li>
</ol>

</div>
</body>
</html>
